.articles {
  height: 335px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    list-style: none;

    .number {
      color: #e9e9ea;
      font-size: 90px;
    }

  }
}