.brands-container {
  width: 1160px;
  height: 140px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    list-style: none;
  }
}