.footer-container {
  background-color: #35383c;

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    height: 60px;
    margin: 0 auto;
    color: #6f7073;
    font-family: Arial, sans-serif;
    font-size: 12px;

    .contacts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px;

        p {
          margin-left: 10px;
        }
      }
    }
  }
}