.main-container {
  height: 540px;
  background-color: #f7f7f7;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;

    .latest_news {
      width: 600px;
      margin: 0;

      h1 {
        padding-top: 65px;
        padding-left: 15px;
        font-family: 'Ubuntu Medium', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
      }

      .news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 40px -10px 0;

        .text {
          margin-top: 10px;
          margin-left: 30px;

          a {
            color: #000;
            font-family: 'Ubuntu Medium', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;
          }

          p {
            padding-top: 10px;
            color: #8a8a8a;
            font-family: Arial, sans-serif;
            font-size: 13px;
            line-height: 1.5;
          }

          span {
            color: #248cec;
          }
        }
      }
    }

    .banners {
      width: 600px;
      margin: 0;

      h1 {
        padding-top: 65px;
        padding-left: 15px;
        font-family: 'Ubuntu Medium', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
      }

      .banners-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;

        .panel {
          display: flex;
          flex-direction: column;

          .panel-name {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 558px;
            height: 37px;
            margin-top: 5px;
            border: 1px solid #e8e8e8;
            background-color: #fff;
            color: #000;
            font-family: 'Ubuntu Medium', sans-serif;
            font-style: normal;
            font-weight: 500;

            .plus-minus {
              width: 37px;
              border-right: 2px solid #e8e8e8;
              background: url("../images/plus.png") no-repeat center;
            }

            p {
              margin-left: 10px;
              font-size: 13px;
              line-height: 37px;
              text-align: center;
            }
          }
          .panel-content {
            display: none;
            width: 510px;
            height: 165px;
            margin-left: 40px;

            p {
              margin-top: 25px;
              color: #9b9b9b;
              font-family: Arial, sans-serif;
              font-size: 13px;
              line-height: 1.5;
            }
          }
        }

        .panel:hover {

          .panel-name {
            background-color: #f4b60d;
            border: 1px solid #f4b60d;
            color: #fff;

            .plus-minus {
              background: url("../images/minus.png") no-repeat center;
            }

            a {
              border-right: 1px solid #f6c53d;
            }
          }

          .panel-content {
            display: block;
          }
        }
      }
    }
  }
}

